<div class="flex-col children-center grow">
  <fieldset class="flex-col space-30">
    <legend>Busca</legend>
    <div class="flex-col">
      <small>CEP</small>
      <input type="text" placeholder ="CEP">
    </div>
    <button class="button primary">BUSCAR ENDEREÇO</button>
  </fieldset>

  <fieldset class="flex-col space-30">
    <legend>RESULTADO</legend>
    <div class="flex-col space-15" >
      <small>Estado</small>
      <input type="text">
      <small>Cidade</small>
      <input type="text">
      <small>Bairro</small>
      <input type="text" >
      <small>Rua</small>
      <input type="text" >
    </div>
  </fieldset>
</div>